.features_box {
  border: 1px solid black;
  float: left;
  padding: 10px;
  width: 200px;
  min-height: 120px;
}
.required {
  background-color: #a0e7a0;
}
.desired {
  background-color: #a0a0e7;
}
.nots {
  background-color: #e7a0a0;
}
