<p>Perhaps this page will help answer a few questions, perhaps not.</p>
<h2>How is this different from <random website>?</h2>
<p>
<strong>Other services</strong> - Most websites will map apartments, show you pictures, or present the data in a certain way.  And they are very good at that.  However, you still have to look through apartments you aren't interested in to find the right one, using mediocre filter methods at best.  
<br/><br/>
<strong>PadIntel</strong> - Our goal is to find the singals within the noise and offload the searching from user to computer.  We do this by display simple filters to you (carpeting, for example), which represent complex searches that we do. We then display a subset of thousands of apartments. This subset is exactly what you want in an apartment.  Let us determine whether a listing has "carpeting", or "carpet", or "burber".</p>

<h2>Feature Requests/Feedback</h2>
<p>If you find a way to make PadIntel better, like it, hate it, or just want to say hi, you can get in touch with me via <a href="mailto:padintel@gmail.com">email</a> or <a href="http://twitter.com/padintel">twitter</a>.</p>

<h2>Who</h2>
<p>PadIntel was started by <a href="http://twitter.com/jsoo">@jsoo</a> to help in his apartment search.</p>

<h2>What</h2>
<p>PadIntel is designed to search craigslist for multiple ways to say the same thing.  The hope is that it'll dramatically cut back on what you have to look through to find your apartment.</p>
<h2>Where</h2>
<p>Currently it only searches the Washington DC area, but that can be changed if people express interest.  If you want your region to be index, just <a href="mailto:padintel@gmail.com">email me</a> or <a href="http://twitter.com/padintel">tweet me</a>.</p>
<h2>When</h2>
<p>PadIntel was started during the summer of 2011.</p>
<h2>Why</h2>
<p>Because I had a terrible time trying to find an apartment that had no carpeting in it.</p>
<h2>How</h2>
<p>It uses some machine learning, written in Rails hosted with Heroku.</p>
