<p>Perhaps this page will help answer a few questions, perhaps not.</p>
<h2>How is PadIntel different?</h2>
<p>
<strong>Other services</strong> will map apartments, show you pictures, or present unfiltered the data in creative ways.  And they are very good at that.  However, you still have to look through apartments you aren't interested in to find the right one, using mediocre filter methods at best.
<br/><br/>
<span style="font-weight: bold; background-color: yellow;">PadIntel offloads the work of searching thousands of listings by using filters</span>.  This is done by showing a simple filter interface to the user.  These filters translate to complex queries, which are used to detect multiple ways to say the same thing.  We also leverage techniques using machine learning. We then display a subset of thousands of apartments. This subset is exactly what you want in an apartment.  Let us determine whether a listing has "carpeting", or "carpet", or "burber".</p>

<h2>Feature Requests/Feedback</h2>
<p>If you find a way to make PadIntel better, like it, hate it, or just want to say hi, you can get in touch with me via <a href="mailto:padintel@gmail.com">email</a> or <a href="http://twitter.com/padintel">twitter</a>.</p>

<h2>Who</h2>
<p>PadIntel was started by <a href="http://sosoo.me">Jason Soo</a> (<a href="http://twitter.com/jsoo">@jsoo</a>) to help in his apartment search.</p>

<h2>What</h2>
<p>PadIntel is designed to search craigslist for multiple ways to say the same thing.  The hope is that it'll dramatically cut back on what you have to look through to find your apartment.</p>
<h2>Where</h2>
<p>Currently it only searches the Washington DC area, but that can be changed if people express interest.  If you want your region to be index, just <a href="mailto:padintel@gmail.com">email me</a> or <a href="http://twitter.com/padintel">tweet me</a>.</p>
<h2>When</h2>
<p>PadIntel was started during the summer of 2011.</p>
<h2>Why</h2>
<p>Because I had a terrible time trying to find an apartment that had no carpeting in it.</p>
<h2>How</h2>
<p>It uses some machine learning, written in Rails hosted with Heroku.</p>
