%p.announcement 
  Currently we only search the DC and Chicago areas.  <a href="mailto:padintel@gmail.com">Tell us</a> if you want us to search your area too.
%h2 Define your dream apartment, and we investigate.
%h4 
  Here's how it works:
  %ol
    %li 
      Select what features you need, want, and dislike
      %p.small_note 
        Ex. Automatically remove apartments with, say, carpeting.
    %li 
      We crawl apartment websites for matches.
      %p.small_note 
        Our investigators are smart enough to search for multiple ways to say the same thing.<br />For example, if you want carpet, they search for "carpet" or "carpeting" or "wall-to-wall" etc.
    %li 
      Only matching results are shown to you

= render 'form'
